footer {
    color: white;
    background: #042331;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    text-align: right;
}

footer h5 {
    text-align: left;
    padding-left: 1rem;
}

/* Mobile */
/* *********************************************************************************************** */
@media only screen and (max-width: 720px) {
    footer {
        flex-direction: column;
    }

    footer h5 {
        text-align: center;
    }
}
